
body {
  background-color: rgba(41, 164, 170, 0.9);
  
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
}


.calc-wrap {
  background-color: white;
  width: 500px;
  border-radius: 16px;
  margin-top: 5%;
}

.row {
  display: flex;

}

